<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%=description%>">
    <meta name="kewords" content="<%=kewords%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户管理 - <%=website_name%> - <%=website_slogan%></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%- include style_list.html %>
    <!--[if lt IE 9]>
    <script src="<%= locals.cdn %>js/html5.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
	<%- include nav.html %>
    
    <!--主内容区-->
    <div class="content clearfix" id="content">
    	<!--中间-->
   	  	<div class="container">
        	<div class="manage-page" id="admin_user_list">
            	<h2>管理用户</h2>
                <% if (locals.noteMsg) { %>
                <div id="noteMsg" class="nNote <%=locals.noteMsgType%>">
                	<p><%=locals.noteMsg%></p>
                </div>
                <% }else{ %>
                <div id="noteMsg" class="nNote" style="display:none;">
                	<p></p>
                </div>
                <% } %>
                <div class="search-box user-search-box">
                    <form id="searchuser" action="" method="get">
                        <input type="text" placeholder="请输入用户名..." id="q" name="q" class="search-inputbox">
                        <button class="icon-search" type="submit"></button>
                    </form>
                    
                    <select name="quickLinks" onChange="location.href='/admin_user?linkid='+$(this).val()">
                      <option value="0"<% if(linkid==0){ %> selected<% } %>>全部用户</option>
                      <option value="1"<% if(linkid==1){ %> selected<% } %>>Email未激活用户</option>
                      <option value="2"<% if(linkid==2){ %> selected<% } %>>Email已激活用户</option>
                      <option value="3"<% if(linkid==3){ %> selected<% } %>>正常用户</option>
                      <option value="4"<% if(linkid==4){ %> selected<% } %>>锁定用户</option>
                    </select>
                </div>
                
                <div class="manage-widget">
                	<header>
                    	用户列表<span class="small-header">（当前总数：<%= count %>）</span>
                    </header>
                    <div class="manage-wcon">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <thead>
                          <tr>
                            <td width="30%">邮箱</td>
                            <td width="15%">用户名</td>
                            <td>积分</td>
                            <td>TA的推荐</td>
                            <td>是否激活</td>
                            <td>用户状态</td>
                            <td width="15%">操作</td>
                          </tr>
                          </thead>
                          <tbody>
                          <% for(var i=0;i<userlist.length;i++ ){ %>
                          <tr>
                            <td><%= userlist[i].email %></td>
                            <td><%= userlist[i].username %></td>
                            <td><%= userlist[i].score %></td>
                            <td><a href="/user/<%= userlist[i].username %>"><%= userlist[i].topic_count %></a></td>
                            <td>
                            <% if(userlist[i].email_active){ %>
                            	激活
                            <% }else{ %>
                            	<span class="red">未激活</span>
                            <% } %>
                            </td>
                            <td>
                            <% if(userlist[i].active){ %>
                            	正常
                            <% }else{ %>
                            	<span class="red">锁定</span>
                            <% } %>
                            </td>
                            <td>
                            <% if(userlist[i].active){ %>
                            	<button type="button" class="btn btn-mini btn-danger" data-id="<%= userlist[i].id %>">封号</button>
                            <% }else{ %>
                            	<button type="button" class="btn btn-mini btn-success" data-id="<%= userlist[i].id %>">解封</button>
                            <% } %>
                            <button type="button" class="btn btn-mini btn-info" data-id="<%= userlist[i].id %>">查看</button>
                            </td>
                          </tr>
                          <% } %>
                          </tbody>
                        </table>
                        <%- include pagination.html %>
                    </div>
                </div>
                
                <div class="manage-widget" id="user_info" style="display:none;">
                	<header>
                    	
                    </header>
                    <div class="manage-wcon">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="30%" class="td_title">邮箱：</td>
                            <td width="70%" id="user_username"></td>
                          </tr>
                          <tr>
                            <td class="td_title">用户名：</td>
                            <td id="user_email"></td>
                          </tr>
                          <tr>
                            <td class="td_title">积分：</td>
                            <td id="user_score"></td>
                          </tr>
                          <tr>
                            <td class="td_title">邮箱是否激活：</td>
                            <td id="user_email_active"></td>
                          </tr>
                          <tr>
                            <td class="td_title">用户状态：</td>
                            <td id="user_active"></td>
                          </tr>
                          <tr>
                            <td class="td_title">推荐的类库个数：</td>
                            <td id="user_topic_count"></td>
                          </tr>
                          <tr>
                            <td class="td_title">注册时间：</td>
                            <td id="user_create_at"></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--container end-->
        
        <%- include sidebar.html %>
        
        <%- include footer.html %>
    </div><!--content end--> 
</div>
<%- include js_list.html %>
</body>
</html>