<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%=description%>">
    <meta name="kewords" content="<%=kewords%>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>栏目管理 - <%=website_name%> - <%=website_slogan%></title>
    <link rel="shortcut icon" href="/favicon.ico" />
	<%- include style_list.html %>
    <!--[if lt IE 9]>
    <script src="<%= locals.cdn %>js/html5.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
	<%- include nav.html %>
    
    <!--主内容区-->
    <div class="content clearfix" id="content">
    	<!--中间-->
   	  	<div class="container">
        	<div class="manage-page">
            	<h2>栏目管理</h2>
                <% if (locals.noteMsg) { %>
                <div id="noteMsg" class="nNote <%=locals.noteMsgType%>">
                	<p><%=locals.noteMsg%></p>
                </div>
                <% }else{ %>
                <div id="noteMsg" class="nNote" style="display:none;">
                	<p></p>
                </div>
                <% } %>
                <div class="column-form" id="column-form">
                <form action="" method="post">
                	<input name="id" type="hidden" value="">
                	<div class="comm-input">
                    	<label>栏目名称：</label><input type="text" name="name_cn" placeholder="请输入栏目名称" value="" />
                    </div>
                	<div class="comm-input">
                    	<label>栏目英文简称：</label><input type="text" name="name_en" placeholder="请输入栏目英文简称" />
                    </div>
                    <div class="comm-input">
                    	<label>栏目类型：</label>
                        <select name="type">
                          <option value="0">资讯</option>
                          <option value="1" selected>类库</option>
                        </select>
                    </div>
                    <div class="comm-action">
                    	<button class="btn btn-primary" type="button"><i class="icon-white icon-download"></i> 提交</button>
                    </div>
                </form>
                </div>
                
                <div class="manage-widget">
                	<header>
                    	栏目列表
                    </header>
                    <div class="manage-wcon">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <thead>
                          <tr>
                            <td width="40%">栏目名称</td>
                            <td width="30%">英文简称</td>
                            <td width="10%">类型</td>
                            <td width="20%">操作</td>
                          </tr>
                          </thead>
                          <tbody id="column_list">
                          <%
                          var typelist = ['资讯','类库'];
                          for(var i=0;i<columns.length;i++){
                          	if(columns[i].isdel==false){
                          %>
                          <tr>
                            <td><%=columns[i].name_cn%></td>
                            <td><%=columns[i].name_en%></td>
                            <td data-type="<%= columns[i].type %>"><%=typelist[columns[i].type]%></td>
                            <td>
                            <button type="button" class="btn btn-mini btn-primary" data-id="<%=columns[i]._id%>">修改</button>
                            <button type="button" class="btn btn-mini btn-danger" data-id="<%=columns[i]._id%>">删除</button>
                            </td>
                          </tr>
                          <% }} %>
                          </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="manage-widget">
                	<header>
                    	回收站
                    </header>
                    <div class="manage-wcon">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <thead>
                          <tr>
                            <td width="40%">栏目名称</td>
                            <td width="30%">英文简称</td>
                            <td width="10%">类型</td>
                            <td width="20%">操作</td>
                          </tr>
                          </thead>
                          <tbody id="column_list">
                          <%
                          var typelist = ['资讯','类库'];
                          for(var i=0;i<columns.length;i++){
                          	if(columns[i].isdel){
                          %>
                          <tr>
                            <td><%=columns[i].name_cn%></td>
                            <td><%=columns[i].name_en%></td>
                            <td><%=typelist[columns[i].type]%></td>
                            <td>
                            <button type="button" class="btn btn-mini btn-success" data-id="<%=columns[i]._id%>">恢复</button>
                            <button type="button" class="btn btn-mini btn-inverse" data-id="<%=columns[i]._id%>">彻底删除</button>
                            </td>
                          </tr>
                          <% }} %>
                          </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div><!--container end-->
        
        <%- include sidebar.html %>
        
        <%- include footer.html %>
    </div><!--content end--> 
</div>
<%- include js_list.html %>
</body>
</html>