<!--页尾-->
        <footer class="page-footer">
        	<p class="site-link"><a href="/about">关于我们</a> <a href="/about">联系我们</a> <a href="javascript:void(0);" onclick="alert('RSS订阅功能还在开发中...');">RSS订阅</a> <a href="http://www.2fz1.com/" target="_blank">站长博客</a> <a href="https://portal.qiniu.com/signup?code=9mfx7kih3yq" target="_blank">七牛云存储[国内优质CDN]</a></p>
        	<p>Copyright © 2013  <a href="http://www.tuijs.com/" title="<%=website_name%> - <%=website_slogan%>" rel="home"><%=website_name%>（推即时）</a>www.tuijs.com. All Rights Reserved.</p>
            <p>本站采用：<a href="http://nodejs.org">Node.js</a> + <a href="http://www.mongodb.org" target="_blank">MongoDB</a>架构，当前版本：v0.1.0，仅支持IE8+及标准浏览器</p>
			<p class="site-link">友情链接：<a target="_blank" href="http://webrebuild.org/">WebReBuild</a> <a target="_blank" href="http://www.imsole.net/">sole的前端博客</a> <a target="_blank" href="http://www.dev92.com/">DEV92</a></p>
            <p><a target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备13040949号-3</a></p>
        </footer>
        <a href="#" id="totop">TOP</a> 