<!--导航-->
    <div class="nav" id="nav">
        <div class="nav-con">
        	<h1 class="clearfix"><a href="/" title="推JS"></a></h1>
			<ul class="nav-list">
            	<li>
                	<a href="/">首页</a>
                    <i class="ico-home"></i>
                </li>
                <li>
                	<a href="/category/news">前端观察</a>
                    <i class="ico-lookup"></i>
                </li>
                <li>
                	<a href="/top">编辑推荐</a>
                    <i class="ico-fav"></i>
                </li>
                <li class="line"></li>
                <li>
                	<a href="/category/javascript">JavaScript类库</a>
                    <i class="ico-javascript"></i>
                </li>
                <li>
                	<a href="/category/nodejs">Node.js</a>
                    <i class="ico-nodejs"></i>
                </li>
                <li>
                	<a href="/category/jquery">jQuery插件</a>
                    <i class="ico-jquery"></i>
                </li>
                <li>
                	<a href="/category/mvc">MVC框架</a>
                    <i class="ico-mvc"></i>
                </li>
                <li class="line"></li>
            </ul>
            <ul class="nav-min-list clearfix">
            	<li>
                	<a href="/category/preprcessing">预处理</a>
                </li>
                <li>
                	<a href="/category/html5">HTML5&CSS3</a>
                </li>
				<li>
                	<a href="/category/mobile">移动Web</a>
                </li>
                <li>
                	<a href="/category/builder">项目构建</a>
                </li>
                <li>
                	<a href="/category/game">游戏框架</a>
                </li>
                <li>
                	<a href="/category/ui">UI框架</a>
                </li>
                <li>
                	<a href="/category/charts">图表库</a>
                </li>
                <li>
                	<a href="/category/edit">HTML编辑器</a>
                </li>
                <li>
                	<a href="/category/test">测试框架</a>
                </li>
                <li>
                	<a href="/category/other">其它类库</a>
                </li>
            </ul>
        </div>
    </div>
