        	<!--头部广告-->
        	<div class="top-ad">
            
            </div>
            
            <!--头部导航-->
            <div class="top-nav clearfix">
            	<ul>
                	<li><a href="/?sortby=view">最多查看</a></li>
                    <li><a href="/?sortby=use">最多使用</a></li>
                    <li><a href="/?sortby=create">最新创建</a></li>
                    <li><a href="/?sortby=update">最新更新</a></li>
                    <li><a href="/tag">标签云</a></li>
                	<li><a href="/about">关于我们</a></li>
                    <!--<li><a href="http://me.alipay.com/tuijs" target="_blank">赞助本站</a></li>-->
                </ul>
            </div>